.ententePolychat{
  background-color: #D3D3D3;
  height:70px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.grid-container{
  display: grid;
  background-color: #5F9EA0;
  color: white;
  padding-left: 10px;
  height: 70px;
  grid-template-columns: auto 270px 50px;
}

.groupeActif{
  padding-top: 5px;
  font-size: 15px;
  line-height: 1.8;

}

.listesGroupes{
  border-left-style: solid;
  border-left-color: white;
  border-width: thin;
  float: right;
  padding-right: 90px;
  padding-left: 10px;
  height: inherit;
  line-height: 1.6;
}
.icones{
  display: inline;
  padding-top:30px
}
