.ententePolychat{
  background-color: #D3D3D3;
  height:70px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.grid-container{
  display: grid;
  background-color: #5F9EA0;
  color: white;
  padding-left: 10px;
  grid-template-columns: auto 270px 50px;
  border: white;
border-width: thin;
}

.grid-containerMessage{
  display: grid;
  grid-template-columns: auto 320px;
  height: auto;
  border-width: thin;
  border-bottom: white;
}
.bigGrid{
 display: grid;
 grid-template-rows: 70px 450px auto;
 font-family: sans-serif;
 border-width: thin;
 border-color: white;

}
.groupeActif{
  padding-top: 5px;
  font-size: 15px;
  line-height: 1.8;
  border-width: thin;
  border-color: white;

}
.listesGroupes{
  border-left-style: solid;
  border-left-color: white;
  border-width: thin;
  float: right;
  padding-right: 90px;
  padding-left: 10px;
  height: inherit;
  line-height: 2;
}
.icones{
  display: inline;
  padding-top:30px
}
.boiteMessage{
  overflow-y:auto ;
  border-style: solid;
  border-width: medium;
  border-color: #DCDCDC;
  width: auto;
  height: inherit;
  padding-right: 20px;
  padding-left: 25px;
}
form{
 display: grid;
 grid-template-columns: 60px auto 60px;
 position: relative;
 height: 50px;
 width: inherit;

}
.groupeDisponible{
  color:	 #4d4dff;
  padding-top: 15px;
  padding-left: 15px;
  font-size: 15px;
  border-color: white;
}
.separator{
  display: grid;
  grid-template-columns: auto 320px;
}

div.groupeDisponible div:nth-child(2n){
background-color:#cccccc;
}
div.groupeDisponible div:nth-child(2n+1){
background-color:#f2f2f2;
}
.fa-star {
color:#FF8C00;
background-color: inherit;
}
textarea {
border-radius:5px;
width:100%;
height:85%;
display:inline;
}

.OthersName{
overflow: auto;
padding-top: 10px;
font-size: 12px;
color:#BEBEBE;
font-family:Arial, Helvetica, sans-serif;
width: inherit;
position: relative;
}
.ReceiverText{
 padding: 10px;
 border-radius: 30px;
 background-color:#E8E8E8;
 color:black;
 font-weight: bold;
 width:300px;
 height:auto;
 line-height: 1;
 word-wrap:break-word;
 font-weight: thin;
}
.SenderText {
  padding: 10px;
  border-radius: 30px;
  background-color: #0086c6;
  color:white;
  font-weight: bold;
  width:300px;
  height:auto;
  line-height: 1;
  word-wrap:break-word;
  font-weight: thin;
  float: right;
  text-align: right;
}
.SendingTimeStamp{
  position: relative;
  float:right;
  font-size: 12px;
  color: grey;
  padding-left:10px;
  font-style: italic;
  font-weight: bold;
  width: 1000px;
  text-align: right;
}
.ReceivingTimeStamp{
float: left;
font-size: 12px;
color: grey;
padding-left:10px;
font-style: italic;
font-weight: bold;
wi
}
.SenderName{
  padding-bottom: 10px;
  overflow: auto;
  font-size: 12px;
  color:#BEBEBE;
  font-family:Arial, Helvetica, sans-serif;
  width: inherit;
}
